/*css rest start*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*css rest end*/
.wrap{
    width: 1024px;
    margin: 0 auto;
    
}

.highlight{
    color: #00cc99;
}



/*首頁*/

/*head*/

.index{
    background-image:url("../img/index_banner.jpg");
    white-space: nowrap;
    height: 506px;
    width: 1024px;
}

.navbar{
    background: rgba(74, 74, 74, 0.5);
    width: 1024px;
    height: 76px;
    display: flex;
    justify-content: space-between;
    padding: 20px 48px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
    
}

.navbar ul{
    display: flex;
    flex-direction: row;
}

.navbar ul li{
    align-self: center;
    width: 60px;
    height: 70px;
    font-family: Microsoft JhengHei;
    font-size: 15px;
    line-height: 70px;
    text-align: center;
    margin-right: 20px;
    
}

.navbar ul li:hover{
    height: 70px;
    line-height: 77px;
    border-bottom: 7px solid #00cc99;
}

.navbar ul li.highlight{
    align-self: center;
    width: 60px;
    height: 70px;
    font-family: Microsoft JhengHei;
    font-size: 15px;
    line-height: 70px;
    text-align: center;
    margin-right: 20px;
    height: 70px;
    line-height: 77px;
    border-bottom: 7px solid #00cc99;
}

.navbar ul li a{
    text-decoration:none;
    color:#fff;
}

.navbar ul li a.highlight{
    color:#00cc99;
}

.navbar ul li a:hover{
    text-decoration:none;
    color:#00cc99;
    cursor:pointer;
}

.navbar h1 a{
    background-image:url("../img/header_logo.png");
    width:170px;
    height:36px;
    display:block;
    text-indent:101%;
    overflow:hidden;
    white-space: nowrap;
}

.banner{
    font-size: 48px;
    font-family: Microsoft JhengHei;
    color:#00cc99;
    line-height: 70px;
    margin: 80px 0 0 42px;
}

.banner span{
    color: #fff;
}

input[type="submit"]{
    padding:5px 15px; 
    background:#00cc99; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    width: 220px;
    height: 52px;
    font-size: 20px;
    font-family: Microsoft JhengHei;
    color:#fff;
    margin: 40px 0 0 42px;
}

input[type="submit"]:hover{
    width: 230px;
    height: 60px;
    transition: all .3s;
}

/*content*/

.content{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 1024px;
    padding: 42px 42px;
}

.class-title{
    display: inline-flex ;
}

.class-title h2{
    font-size: 36px;
    font-family: Microsoft JhengHei;
    font-weight:bold;
    color: #00cc99;
    margin: 0 20px 0 0;
}

.class-title h3{
    font-size: 20px;
    color: #9b9b9b;
    font-family: Microsoft JhengHei;
    display: flex;
    align-items: flex-end ;
    margin: 0 20px 3px 0;
}

.more-class{
    width: 92px;
    height: 32px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border:2px solid #00cc99;    
    line-height: 32px;
    text-align:center;
    color: #00cc99;
    font-family: Microsoft JhengHei;
    font-weight:bold;
    cursor:pointer;
    float: right; 
}

.more-class:hover{
    -webkit-border-radius: 5px;
    border-radius: 5px;
    line-height: 32px;
    text-align:center;
    background: #00cc99;
    color: #fff;
    font-family: Microsoft JhengHei;
    font-weight:bold;
    cursor:pointer;
}

.class-card{
    display: flex;
}

.class-card li{
    width: 300px;
    height: 276px;
    background-color: #fff;
    box-shadow: 0px 3px 9px 1px #ccc;
    text-align:center;
    padding: 20px 8px 10px 8px ;
    margin: 40px 20px 40px 20px;
}

.class-card li:hover{
    transform: translateY(-5px);
}

.class-card li h4{
    line-height: 46px;
    font-size:20px;
    color: #4a4a4a;
    font-family: Microsoft JhengHei;
}

.class-card li p{
    line-height: 20px;
    text-align:left;
    font-size: 16px;
    color: #9b9b9b;
    font-family: Microsoft JhengHei;
}

.content table{ 
    margin: 30px auto;
    font-family: Microsoft JhengHei;
}

.content table td,.content table th{
    width: 235px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}


.content table th{
    background-color: #ebebeb;
}

.content table td{
    border-bottom: 1px solid #ebebeb;
}

.contact-us{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 396px;
    width: 1024px;
    background-color: #ebebeb;
    padding: 0px 48px;
    position: relative;
}

.contact-us p{
    font-family: Microsoft JhengHei;
    font-size: 30px;
    font-weight: bold;
    color: #323223;
    line-height: 48px;
    display: block;
    position: absolute;
    top:150px;
    
}

.contact-us form{
    float: right;
    position: relative;
    top: 140px;
}

input[type="text"]{
    padding:0px 20px; 
    background:#fff; 
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    border: 1px none;
    width: 460px;
    height: 52px;
    font-size: 20px;
    font-family: Microsoft JhengHei;
    color:#9b9b9b;
    margin:0 0 20px 0;
}

.contact-us input[type="submit"]{
    padding:5px 15px; 
    background:#00cc99; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    width: 220px;
    height: 52px;
    font-size: 20px;
    font-family: Microsoft JhengHei;
    color:#fff;
    float: right;
    margin:0 0 -10px 0;
}

.contact-us input[type="submit"]:hover{
    width: 230px;
    height: 60px;
    box-shadow: 0px 3px 9px 1px #ccc;
    transition: all .3s;
}


/*footer*/

.footer{
    background: #323232;
    width: 1024px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px 48px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;   
}

.footer ul{
    display: flex;
    flex-direction: row;
}

.footer ul li{
    align-self: center;
    width: 40px;
    height: 40px;
    font-family: Microsoft JhengHei;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    margin-right: 20px;
    -webkit-border-radius: 500px;
    border-radius: 500px; 
    background-color: #fff;
}

.footer ul li:hover{
    align-self: center;
    width: 50px;
    height: 50px;
    font-family: Microsoft JhengHei;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    margin-right: 20px;
    -webkit-border-radius: 500px;
    border-radius: 500px; 
    background-color: #fff;
    cursor: pointer;
    transition: all .3s;
}

.footer ul li a i{
    color: #323232;
}

.footer h1{
    margin: 10px;
}

.footer h1 p{
    color: #9b9b9b;
    text-align: right;
    font-family: Microsoft JhengHei;
    font-size: 14px;
}

.footer h1 a{
    background-image:url("../img/header_logo.png");
    width:170px;
    height:36px;
    display:block;
    text-indent:101%;
    overflow:hidden;
    white-space: nowrap;
}

/* 課程 */

/*head*/

.class{
    background-image:url("../img/class_banner.jpg");
    white-space: nowrap;
    height: 506px;
    width: 1024px;
}

.class .banner{
    font-size: 48px;
    font-family: Microsoft JhengHei;
    color:#fff;
    line-height: 40px;
}

.class span{
    color: #00cc99;
    font-size: 20px;
}

/*content*/

.teacher{
    font-family: Microsoft JhengHei;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 42px;
}

.teacher h2{
    font-size: 36px;
    font-weight: bold;
    color: #00cc99;
    margin: 0 20px 0 0;
}

.teacher h3{
    font-size: 20px;
    color: #9b9b9b;
    margin: 0 20px 3px 0;
}

.teacher p { 
    font-size: 36px;
    font-weight: bold;
}

.teacher p span{
    color: #00cc99;
}

.teacher ul li{
    color: #9b9b9b;
    line-height: 26px;
    list-style-type: disc;
}

.teacher-photo{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 620px;
}

.class-point{
    font-family: Microsoft JhengHei;
    width: 620px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.point-title{
    display: inline-flex ;
    margin-bottom: 20px;
}

.point-title h2{
    font-size: 36px;
    font-weight:bold;
    color: #00cc99;
    margin: 0 20px 0 0;
}

.point-title h3{
    font-size: 20px;
    color: #9b9b9b;
    font-family: Microsoft JhengHei;
    display: flex;
    align-items: flex-end ;
    margin: 0 0px 3px 40px;
}

.class-point ul li{
    color: #323223;
    line-height: 26px;
    list-style-type: decimal;
    list-style-position: inside;
    
}

.class-content{
    font-family: Microsoft JhengHei;
    margin: 0 auto 42px;
    width: 620px;
}

.content-title{
    display: inline-flex ;
    margin-bottom: 30px;
}

.content-title h2{
    font-size: 36px;
    font-weight:bold;
    color: #00cc99;
    margin: 0 20px 0 0;
}

.content-title h3{
    font-size: 20px;
    color: #9b9b9b;
    font-family: Microsoft JhengHei;
    display: flex;
    align-items: flex-end ;
    margin: 0 0px 3px 20px;
}

.class-content ul li{
    width: 620px;
    background-color: #fff;
    padding: 20px 48px;
    color: #9b9b9b;
    font-weight:bold;
}

.class-content ul li:hover{
    box-shadow: 0px 3px 9px 1px #ccc;
    margin: 10px 0;
    transition: all .2s;
}

.class-content ul .background{
    background-color: #ebebeb;
    color: #323223;
}

.class-contact-us{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 396px;
    width: 1024px;
    background-color: #ebebeb;
    padding: 0px 200px;
    position: relative;
}

.class-contact-us p{
    font-family: Microsoft JhengHei;
    font-size: 30px;
    font-weight: bold;
    color: #323223;
    line-height: 48px;
    display: block;
    position: absolute;
    top:150px;
    
}

.class-contact-us form{
    float: right;
    position: relative;
    top: 150px;
}


/* 問答 */

/* head */

.faq{
    background-image:url("../img/faq_banner.jpg");
    white-space: nowrap;
    height: 506px;
    width: 1024px;
    position: relative;
}

.faq .banner{
    font-size: 48px;
    font-family: Microsoft JhengHei;
    color:#fff;
    line-height: 40px;
    position: absolute;
    left: 30%;
    top: 20%;
    text-align: center;
}

.faq span{
    color: #00cc99;
    font-size: 24px;  
}

.faq .search{
    position: absolute;
    left: 23%;
    top: 65%;
}

.faq input[type="search"]{
    padding:0px 20px; 
    background:#fff; 
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    border: 1px none;
    width: 550px;
    height: 52px;
    font-size: 20px;
    font-family: Microsoft JhengHei;
    color:#fff;
}

.faq button{
    background:#fff; 
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    border: 1px none;
    width: 52px;
    height: 52px;
    font-size: 20px;
    font-family: Microsoft JhengHei;
    color: #9b9b9b;
    margin-left: -50px;
}

.faq button:hover{
    background:#fff; 
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    border: 1px none;
    width: 52px;
    height: 52px;
    font-size: 20px;
    color: #323232;
}

/* content*/

.fap-content{
    padding: 0 122px;
    font-family: Microsoft JhengHei;
}

.faq-point span{
    color: #00cc99;
}

.faq-title{
    display: inline-flex ;
    margin: 60px 0 30px 0;
}

.faq-title h2{
    font-size: 36px;
    font-weight:bold;
    color: #00cc99;
    margin: 0 20px 0 0;
}

.faq-title h3{
    font-size: 20px;
    color: #9b9b9b;
    display: flex;
    align-items: flex-end ;
    margin: 0 0px 3px 20px;
}

.faq-point ul li{
    color: #9b9b9b;
    line-height: 30px;
    margin-bottom: 20px;
}

.faq-point .bold{
    font-weight:bold;
    color:  #323232;
    font-size: 20px;
}

ul.pay li{
    list-style: decimal;
    list-style-position: inside;
    margin: 5px 0 0 25px;
    line-height: 24px;
}

ul.refund li{
    list-style: disc;
    list-style-position: inside;
    margin: 5px 0 0 25px;
    line-height: 24px;
}

li.small{
    font-size: 16px;
}

.faq-contact-us{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 1024px;
    height: 600px;
    background-color: #ebebeb;
    padding: 0px 48px;
    position: relative;
}

.faq-contact-us p{
    font-family: Microsoft JhengHei;
    font-size: 30px;
    font-weight: bold;
    color: #323223;
    line-height: 48px;
    display: block;
    position: absolute;
    top:150px;
    
}

.faq-contact-us form{
    float: right;
    position: relative;
    top: 140px;
}

.faq-contact-us input[type="text"]{
    padding:0px 20px; 
    background:#fff; 
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    border: 1px none;
    width: 460px;
    height: 52px;
    font-size: 20px;
    font-family: Microsoft JhengHei;
    color:#9b9b9b;
    margin:0 0 20px 0;
}

.faq-contact-us input[type="submit"]{
    padding:5px 15px; 
    background:#00cc99; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    width: 220px;
    height: 52px;
    font-size: 20px;
    font-family: Microsoft JhengHei;
    color:#fff;
    float: right;
    margin:0 0 -10px 0;
}

.faq-contact-us input[type="submit"]:hover{
    width: 230px;
    height: 60px;
    box-shadow: 0px 3px 9px 1px #ccc;
    transition: all .3s;
}

input[type="text"].question {
    padding:0px 20px; 
    background:#fff; 
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    border: 1px none;
    width: 460px;
    height: 202px;
    font-size: 20px;
    font-family: Microsoft JhengHei;
    color:#323232;
    margin:0 0 20px 0;
}